<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @how_majestic.message %>
</p>

<p>
  <b>Name:</b>
  <%= @how_majestic.name %>
</p>


<%= link_to 'Edit', edit_how_majestic_path(@how_majestic) %> |
<%= link_to 'Back', how_majestics_path %>
